html{
	width:100%;
	height:100%;
}

body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

div.post{
	padding-top:10px;
	padding-bottom:5px;
	width:500px;
	border:1px solid #CCC;
}

div.post_form{
	margin-left:58px;
	padding-top:10px;
	padding-bottom:30px;
	border:0;
	min-height:20px;
	color:#666;
}

div.post_form:focus{
	outline:none;
}

img.post_user_logo{
	position:absolute;
	display:block;
	margin-left:10px;
	width:38px;
	height:38px;
}

div.post_photos_preview{
	padding-top:10px;
}

div.post_photo_preview{
	float:left;
	margin-left:10px;
	width:100px;
	height:100px;
}

div.post_preview_plusik{
	float:left;
	margin-left:10px;
	border:2px dashed #DDDFE2;
	width:96px;
	height:96px;
	background:url('/images/photo_plus.png') no-repeat center center;
}

div.post_preview_plusik:hover{
	background:url('/images/photo_plus_hover.png') no-repeat center center;
	cursor:pointer;
}

img.post_photo_preview, .blackout{
	width:96px;
	height:96px;
}
.blackout{ 
	display:none;
	position:absolute;
	opacity:0.5;
	z-index:100;
	background:#000;
}

a.krestik{
	margin:4px 4px auto auto;
	width:12px;
	height:12px;
	background-image:url('/_content/img/icons.png');
	background-position:-392px -220px;
	background-repeat:no-repeat;
	display:block; /*need only because this is tag A*/
	z-index:200;
}

div.post_foot{
	margin-top:10px;
	padding-top:5px;
	border-top:1px solid #CCC;
}

div.post_buttons{
	float:right;
	margin-right:10px;
}

button.post_public{
	border:0;
	width:100px;
	height:18px;
	border-radius:3px;
	background:#5470D9;
	color:#FFF;
	font-weight:bold;
}

button.post_public:active{
	border:0;
	background:#5456D9;
}

button.post_public:focus{
	outline:none;
}

div.post_elements{
	float:left;
}

div.photik{
	position:relative;
	margin-top:3px;
	margin-left:10px;
	width:17px;
	height:14px;
	background:url('/images/photik.png') no-repeat;
	overflow:hidden;
}

div.photik:hover{
	background:url('/images/photik_active.png') no-repeat;
}


input.photik{
	position:absolute;
	display:block;
	width:17px;
	height:14px;
	opacity:0;
	z-index:2;
}

input.photik_big{
	width:100px;
	height:100px;
	cursor:pointer;
}


div.clear{
	clear:both;
}

/*Drag boxes{*/
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.over {
  border: 1px dashed #AAA;
}

/*}*/


